body {
    background-image: url('./img/background-desktop.png');
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;

    height: 100vh;
    position: relative;
}