.footer {
    background-color: $red;
    width: calc(100vw - 550px);
    height: 115px;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 605px) {
    body {
        background-color: none;
    }
}