.header {
    background-color: $red;
    width: 100%;
    height: 115px;
    z-index: 10;
    position: relative;

    &__list {
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 25px;
    }

    &__item {
        background-color: transparent;
        border: none;
        color: white;
        position: relative;
        text-transform: uppercase;
        padding: 0 25px;
        font-size: 1.2em;
        position: relative;

        &:focus {
            border: none;
            outline: none;
        }

        &--active {
            &::before {
                content: '';
                position: absolute;
                bottom: -8px;
                left: 15%;
                right: 15%;
                height: 1px;
                background-color: white;
                animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }
}
.disabled {
    color: grey;
    pointer-events: none;
}

@media only screen and (max-width: 605px){
    .header__list {
        padding: 0;
        justify-content: space-evenly;

    }
    .header__item {
        padding: 0;
        font-size: 1em;
    }
}

@media only screen and (max-width: 316px){
    .header__item {
        font-size: 0.6em;
    }
}