$breakpoint-xxxs: 20em; // 320px
$breakpoint-xxs: 23em; // 360px
$breakpoint-xs: 35em; // 560px
$breakpoint-s: 48em; // 768px
$breakpoint-m: 50em; // 800px
$breakpoint-l: 62em; // 992px
$breakpoint-xl: 75em; // 1200px
$breakpoint-xxl: 84em; // 1344px
$breakpoint-xxxl: 96em; // 1536px